@import "_variables.scss";

.home {
  h1 {
    font-family: "futura-pt-bold",sans-serif;
    font-size: $font-xxxlarge;
  }

  h2 {
    font-family: "futura-pt-bold",sans-serif;
    font-size: $font-xxlarge;
  }

  h3 {
    font-size: $font-xlarge;
  }

  h1, h2, h3 {
    text-align: center;
  }

  .hero {
    height: 600px;
    padding-top: $home-line-spacing * 8;
    background-color: $accent-color;
    text-align: center;

    h1, h2, h3 {
      color: white;
    }

    h1 {
      margin-bottom: $home-line-spacing*2;
    }

    h2, h3 {
      margin-bottom: $home-line-spacing*4;
    }

    a.rounded-link {
      background-color: transparent;
      border-radius: 24px;
      border: 1px solid white;
      color: white;
      border-color: white;
      font-size: $font-large;
      padding: 8px 40px 8px 40px;

      &:hover, &:active {
        color: white;
        border-color: white;
      }
    }
  }

  .install {
    padding-top: $home-line-spacing * 4;

    h3 {
      margin-bottom: $home-line-spacing*2;
    }

    h1, h2, h3 {
      color: $accent-color;
    }
  }

  .features {

  }

  .deploy {

  }
  .testimony {

  }
}