@charset "UTF-8";
/* line 1, ../sass/content.sass */
.panel-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
/* line 11, ../sass/content.sass */
.panel-content::before {
  display: table;
  content: "";
}
/* line 15, ../sass/content.sass */
.panel-content::after {
  display: table;
  clear: both;
  content: "";
}
/* line 21, ../sass/content.sass */
.panel-content::after > *:first-child {
  margin-top: 0 !important;
}
/* line 23, ../sass/content.sass */
.panel-content::after > *:last-child {
  margin-bottom: 0 !important;
}

/* line 27, ../sass/content.sass */
#search-results h2 {
  font-size: 24px;
  margin: 20px 0 10px 0;
}

/* line 31, ../sass/content.sass */
#search-results p {
  color: #a7adbd;
}

/* line 34, ../sass/content.sass */
#search-results ul.search > li {
  border-bottom: none;
}

/* line 37, ../sass/content.sass */
#search-results ul.search > li > a {
  color: #597cf1;
}

/* line 41, ../sass/content.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

/* line 47, ../sass/content.sass */
h1 {
  font-size: 32px;
  color: #2f323a;
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

/* line 59, ../sass/content.sass */
h2 {
  font-size: 24px;
  color: #2f323a;
  margin-bottom: 30px;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

/* line 69, ../sass/content.sass */
h3 {
  font-size: 20px;
  color: #2f323a;
  margin-bottom: 30px;
  font-size: 1.25em;
}

/* line 76, ../sass/content.sass */
h4 {
  font-size: 16px;
  color: #2f323a;
  margin-bottom: 30px;
  font-size: 1em;
}

/* line 83, ../sass/content.sass */
h5 {
  font-size: 14px;
  font-size: 0.875em;
}

/* line 88, ../sass/content.sass */
h6 {
  font-size: 12px;
  font-size: 0.85em;
  color: #777;
}

/* line 94, ../sass/content.sass */
hr {
  height: 0;
  margin: 15px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  overflow: visible;
  border-bottom-color: #eee;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}
/* line 110, ../sass/content.sass */
hr::before {
  display: table;
  content: "";
}
/* line 114, ../sass/content.sass */
hr::after {
  display: table;
  clear: both;
  content: "";
}

/* line 119, ../sass/content.sass */
p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 20px;
}

/* line 125, ../sass/content.sass */
p {
  color: #2f323a;
  margin-bottom: 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 133, ../sass/content.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 138, ../sass/content.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 141, ../sass/content.sass */
p, blockquote, ul, ol, dl, table, pre {
  margin-top: 0;
  margin-bottom: 16px;
}

/* line 146, ../sass/content.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 151, ../sass/content.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 154, ../sass/content.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 159, ../sass/content.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 164, ../sass/content.sass */
body {
  margin: 0;
}

/* line 167, ../sass/content.sass */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #597cf1;
  text-decoration: none;
}
/* line 173, ../sass/content.sass */
a:hover, a:active {
  outline: 0;
  outline-width: 0;
  text-decoration: underline;
}

/* line 178, ../sass/content.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 181, ../sass/content.sass */
b, strong {
  font-weight: inherit;
  font-weight: bolder;
  font-weight: 600;
}

/* line 186, ../sass/content.sass */
blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
/* line 193, ../sass/content.sass */
blockquote > :first-child {
  margin-top: 0;
}
/* line 195, ../sass/content.sass */
blockquote > :last-child {
  margin-bottom: 0;
}

/* line 199, ../sass/content.sass */
dfn {
  font-style: italic;
}

/* line 202, ../sass/content.sass */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 207, ../sass/content.sass */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 213, ../sass/content.sass */
pre, code {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 218, ../sass/content.sass */
tt, code {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 223, ../sass/content.sass */
kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 228, ../sass/content.sass */
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
/* line 239, ../sass/content.sass */
code::before, code::after {
  letter-spacing: -0.2em;
  content: " ";
}

/* line 243, ../sass/content.sass */
pre {
  white-space: pre;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap: normal;
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
/* line 256, ../sass/content.sass */
pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
/* line 265, ../sass/content.sass */
pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
/* line 276, ../sass/content.sass */
pre code::before, pre code::after {
  content: normal;
}

/* line 279, ../sass/content.sass */
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

/* line 293, ../sass/content.sass */
q {
  quotes: none;
}
/* line 296, ../sass/content.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 300, ../sass/content.sass */
small {
  font-size: 85%;
}

/* line 303, ../sass/content.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/content.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 316, ../sass/content.sass */
sub {
  bottom: -0.25em;
}

/* line 319, ../sass/content.sass */
ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 329, ../sass/content.sass */
ol ol {
  list-style-type: lower-roman;
}

/* line 333, ../sass/content.sass */
ul ol {
  list-style-type: lower-roman;
}
/* line 335, ../sass/content.sass */
ul ul ol, ul ol ol {
  list-style-type: lower-alpha;
}
/* line 338, ../sass/content.sass */
ul ul, ul ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 342, ../sass/content.sass */
ul ol ol, ul ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 347, ../sass/content.sass */
ol ul ol, ol ol ol {
  list-style-type: lower-alpha;
}

/* line 351, ../sass/content.sass */
li {
  list-style: none;
}
/* line 354, ../sass/content.sass */
li > p {
  margin-top: 16px;
}
/* line 356, ../sass/content.sass */
li + li {
  margin-top: 0.25em;
}
/* line 359, ../sass/content.sass */
li pre {
  margin-bottom: 0;
  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

/* line 369, ../sass/content.sass */
ul, ol {
  padding-left: 2em;
}

/* line 375, ../sass/content.sass */
dd {
  margin: 0;
}

/* line 378, ../sass/content.sass */
dl {
  padding: 0;
}
/* line 381, ../sass/content.sass */
dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
/* line 387, ../sass/content.sass */
dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

/* line 392, ../sass/content.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  border-style: none;
  box-sizing: content-box;
}

/* line 401, ../sass/content.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 404, ../sass/content.sass */
figure, form {
  margin: 0;
}

/* line 407, ../sass/content.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 412, ../sass/content.sass */
label {
  cursor: pointer;
}

/* line 415, ../sass/content.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 421, ../sass/content.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 427, ../sass/content.sass */
button, input {
  line-height: normal;
}

/* line 430, ../sass/content.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 435, ../sass/content.sass */
input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}
/* line 445, ../sass/content.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 450, ../sass/content.sass */
button[disabled] {
  cursor: default;
}

/* line 454, ../sass/content.sass */
input[disabled] {
  cursor: default;
}
/* line 456, ../sass/content.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 461, ../sass/content.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 466, ../sass/content.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 469, ../sass/content.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 473, ../sass/content.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 478, ../sass/content.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
}
/* line 485, ../sass/content.sass */
table th {
  font-weight: bold;
  padding: 6px 13px;
  border: 1px solid #ddd;
}
/* line 490, ../sass/content.sass */
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
/* line 494, ../sass/content.sass */
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
/* line 498, ../sass/content.sass */
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* line 501, ../sass/content.sass */
td {
  vertical-align: top;
}
/* line 504, ../sass/content.sass */
td td, td th {
  padding: 0;
}

/* line 508, ../sass/content.sass */
:checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}

/* line 514, ../sass/content.sass */
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

/* line 518, ../sass/content.sass */
.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
/* line 524, ../sass/content.sass */
.anchor:focus {
  outline: none;
}

/* line 529, ../sass/content.sass */
.rst-content .highlighted {
  background-color: transparent;
  color: #ff9711;
  padding: 0;
}

/* line 534, ../sass/content.sass */
.highlight {
  margin-bottom: 16px;
}

/* line 537, ../sass/content.sass */
.task-list-item {
  list-style-type: none;
}
/* line 540, ../sass/content.sass */
.task-list-item + .task-list-item {
  margin-top: 3px;
}
/* line 543, ../sass/content.sass */
.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
