{% extends "_base_nav.html" %}

{% load i18n %}

{% block head %}
{{ block.super }}
<link href="/static/stylesheets/home.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="home">
    <section class="container-fluid hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{% blocktrans %}Train and deploy<br/>deep learning at scale{% endblocktrans %}</h1>
                    <h3>{% blocktrans %}An open-source distributed deep learning platform<br/>trusted by the world's leading AI teams{% endblocktrans %}</h3>

                    <a class="rounded-link" href="/documentation/develop/en/html/getstarted/index_en.html">{% trans "Get Started"%}</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid install">
        <div class="container install">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>{% blocktrans %}Easy to write AI-powered apps{% endblocktrans %}</h2>
                    <h3>{% blocktrans %}Train a deep learning model in 5 minutes{% endblocktrans %}</h3>
                    <p>In a terminal, paste these commands once you have installed Docker to train a simple housing prices model that can predict the price of a house:</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}